-- Add email marketing fields to users table
ALTER TABLE "users" ADD COLUMN "emailStatus" VARCHAR(50) NOT NULL DEFAULT 'new';
ALTER TABLE "users" ADD COLUMN "emailUnsubscribed" BOOLEAN NOT NULL DEFAULT false;
ALTER TABLE "users" ADD COLUMN "activatedAt" TIMESTAMP(3);
ALTER TABLE "users" ADD COLUMN "lastActivityAt" TIMESTAMP(3);
ALTER TABLE "users" ADD COLUMN "emailsSentCount" INTEGER NOT NULL DEFAULT 0;

-- Create indexes for email fields
CREATE INDEX "users_emailStatus_idx" ON "users"("emailStatus");
CREATE INDEX "users_emailUnsubscribed_idx" ON "users"("emailUnsubscribed");

-- Create auto_email_templates table
CREATE TABLE "auto_email_templates" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "title" TEXT NOT NULL UNIQUE,
    "subject" TEXT NOT NULL,
    "contentTemplate" TEXT NOT NULL,
    "aiPrompt" TEXT,
    "createdBy" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL
);

CREATE INDEX "auto_email_templates_isActive_idx" ON "auto_email_templates"("isActive");
CREATE INDEX "auto_email_templates_createdAt_idx" ON "auto_email_templates"("createdAt");

-- Create auto_email_schedules table
CREATE TABLE "auto_email_schedules" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "templateId" TEXT NOT NULL,
    "scheduledFor" TIMESTAMP(3) NOT NULL,
    "sentAt" TIMESTAMP(3),
    "status" VARCHAR(50) NOT NULL DEFAULT 'pending',
    "draftContent" TEXT,
    "draftReviewedAt" TIMESTAMP(3),
    "draftReviewedBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    CONSTRAINT "auto_email_schedules_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users" ("id") ON DELETE CASCADE,
    CONSTRAINT "auto_email_schedules_templateId_fkey" FOREIGN KEY ("templateId") REFERENCES "auto_email_templates" ("id") ON DELETE CASCADE
);

CREATE INDEX "auto_email_schedules_userId_idx" ON "auto_email_schedules"("userId");
CREATE INDEX "auto_email_schedules_templateId_idx" ON "auto_email_schedules"("templateId");
CREATE INDEX "auto_email_schedules_status_idx" ON "auto_email_schedules"("status");
CREATE INDEX "auto_email_schedules_scheduledFor_idx" ON "auto_email_schedules"("scheduledFor");
CREATE INDEX "auto_email_schedules_sentAt_idx" ON "auto_email_schedules"("sentAt");

-- Create email_logs table
CREATE TABLE "email_logs" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "templateId" TEXT NOT NULL,
    "subject" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "sentAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "openedAt" TIMESTAMP(3),
    "clickedAt" TIMESTAMP(3),
    "unsubscribedAt" TIMESTAMP(3),
    "bounced" BOOLEAN NOT NULL DEFAULT false,
    "bouncedAt" TIMESTAMP(3),
    "unsubscribeToken" TEXT,
    CONSTRAINT "email_logs_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users" ("id") ON DELETE CASCADE,
    CONSTRAINT "email_logs_templateId_fkey" FOREIGN KEY ("templateId") REFERENCES "auto_email_templates" ("id") ON DELETE CASCADE
);

CREATE INDEX "email_logs_userId_idx" ON "email_logs"("userId");
CREATE INDEX "email_logs_templateId_idx" ON "email_logs"("templateId");
CREATE INDEX "email_logs_sentAt_idx" ON "email_logs"("sentAt");
CREATE INDEX "email_logs_openedAt_idx" ON "email_logs"("openedAt");
CREATE INDEX "email_logs_unsubscribedAt_idx" ON "email_logs"("unsubscribedAt");
CREATE INDEX "email_logs_bounced_idx" ON "email_logs"("bounced");
